### Variables and Datatypes

In [1]:
name = 'George'
age = 15
height = 187.6
married =  False



print(type(name))
print(type(age))
print(type(height))
print(type(married))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [11]:
# write a program that prints hello world 

print('Hello world')

Hello world

In [24]:
# write a program that accept users name and year of birth and return their age

name = input('Hi, Enter Your Name: ')
year = input('Enter your year of birth: ')
year = int(year)
age = 2023 - year
print(f'Hi, {name} you are {age} years old')

Hi, Enter Your Name: George
Enter your year of birth: 1999
Hi, George you are 24 years old

In [25]:
# write a program that accepts a user's name and greets them

name = input('Enter your name: ')
print(f'Hi, {name} welcome to Appclick')

Enter your name: Tomisin
Hi, Tomisin welcome to Appclick

### Mathematical operators

* addition  +
* subtraction  -
* division /
* multiplication *
*  floor division //
* modulus %
* power **
* root ** 1/n
* sqrt ** 1/2

In [1]:
# add two numbers together 

print(2+5)

7

In [2]:
2.3 + 6

8.3

In [4]:
# adding strings -- string concatenation

first_name = 'Ade'
last_name = 'Wale'


full_name = first_name +' ' + last_name

print(full_name)

Ade Wale

In [5]:
# subtract floats, integers

60-25

35

In [6]:
34.25 - 16.5

17.75

In [7]:
# division
# every time we divide in python we get a floating point result

50 / 5

10.0

In [9]:
# floor division

15//2

7

In [10]:
# modulus 

15 % 2

1

In [14]:
# multiplication

5 * 4

20

In [16]:
# multiplying strings

3 * first_name

'AdeAdeAde'

In [17]:
# power 

3 ** 2

9

In [19]:
# square root 

9 ** (1/2)

3.0

In [20]:
# root

27 ** (1/3)

3.0

### Exercises

In [27]:
# program that calculates the area of a rectangle 

length = int(input('Enter the value of length: '))
breadth = int(input('Enter the value of breadth: '))

area = length * breadth

print(f'The area of your rectangle is {area} cm squared')

Enter the value of length: 12
Enter the value of breadth: 15
The area of your rectangle is 180 cm squared

In [29]:
# program that calculates area of a triangle


base = int(input('Enter the base: '))
height = int(input('Enter the height: '))

area = 0.5 * (base * height)

print(f'The area of the rectangle is {area}cm2')

Enter the base: 15
Enter the height: 3
The area of the rectangle is 22.5 cm2

In [30]:
#  write a program that solves a quadratic equation


# accepting user input
a = int(input('Enter the value of a: '))
b = int(input('Enter the value of b: '))
c = int(input('Enter the value of c: '))


# define the solution

x1 = (-b + ((b ** 2) - (4*a*c)) ** (1/2))/(2*a)i

x2 = (-b - ((b ** 2) - (4*a*c)) ** (1/2))/(2*a)


print(f'The root of the equation is {x1} and {x2}')

Enter the value of a: 1
Enter the value of b: 5
Enter the value of c: 6
The root of the equation is -2.0 and -3.0

In [3]:
#  program that converts days to weeks

days = int(input('Enter the no of days to be converted: '))

weeks = days // 7
remaining_days = days % 7

print(f'There are {weeks} week and {remaining_days} days in {days} days')

Enter the no of days to be converted: 41
There are 5 week and 6 days in 41 days

In [5]:
# write a currency converter program using any currency of your choice 

base_currency = input('Enter the currency')
print(f'How many {base_currency} do you want to change?: ')
amount = int(input())
print(f'What currency do you want to change your {amount} {base_currency} to')
second_currency = input()
print(f'What is the current {base_currency} and {second_currency} exchange rate')
rate = int(input())

converted_amount = amount * rate

print(f'{amount} {base_currency} is {converted_amount} {second_currency}')

Enter the currencyDollar
How many Dollar do you want to change?:
300
What currency do you want to change your 300 Dollar to
naira
What is the current Dollar and naira exchange rate
1300
300 Dollar is 390000 naira

### built-in functions

* int() -- for coverting objects of any type to integer
* float() -- for coverting objects of any type to floats i.e decimal
* print() -- to ouput stuffs
* input() -- to accept user input from the console
* len() -- returns the number of element in an iterable
* sum() -- returns the total of elements by additon
* max() -- returns the highest element in a group of elements 
* min() -- returns lowest element
* round() -- brings a float value to a particular decimal place
* str() -- for coverting objects of any type to string
* range() -- returns the number of elements within a specified range

In [6]:
# write a program that returns the number of letters in someone's name

name = input('Enter your name: ')

count = len(name)

print(f'There are {count} letters in {name}')

Enter your name: George
There are 6 letters in George

In [11]:
max(3,5,8)

8

In [12]:
min(3,5,8)

3

In [18]:
round(0.51)

1

In [24]:
list(range(1,7,2))

[1, 3, 5]

In [33]:
# return all even numbers between 4 and 22


even_range = list(range(4,23,2))

In [26]:
even_range

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [32]:
# write a program  that accepts two people's name and returns the length of the longest.

name_1 = input('name_1: ')
name_2 = input('name_2: ')

count_1 = len(name_1)
count_2 = len(name_2)

greater = max(count_1, count_2)

print(f'The longest has {greater} letters')

name_1: wale
name_2: George
The longest has 6 letters

In [36]:
a = 2 + 2 
print(a)

4

In [ ]:
# write a program that returns the number of even numbers between 6 and 568.