In [6]:
    # write a currency converter program

base_currency = input('Enter the currency you want to convert: ')
print(f'what is the {base_currency} amount')
amount_base = int(input())

currency = input('Enter the currency you want to convert to: ')
print(f'what is the {currency}, {base_currency} rate')
rate = int(input())

result = amount_base * rate

print(f'{base_currency} is {result} {currency} at {rate} {currency} per {base_currency}')

Enter the currency you want to convert: dollar
what is the dollar amount
200
Enter the currency you want to convert to: naira
what is the naira, dollar rate
1100
dollar is 220000 naira at 1100 naira per dollar

In [7]:
# write a program that calculates the area of a  triangle


base = int(input('Enter the base: '))
height = int(input('Enter the height: '))

area = 0.5 * base * height

print(f'The area is {area}')

Enter the base: 34
Enter the height: 12
The area is 204.0

In [12]:
# built in functions

# print
# input
# sum
# min
# max
# len
# round
# lower
# upper



# sum of an iterable
a = 5
b = 6

name = 'Segun'

len(name)

5

In [14]:
# write a program that accepts someone's name, greets them and tell them the number of letters 
# in their name.

name = input('Enter your name: ')
print(f'Hi, {name} you have {len(name)} letters in your name')

Enter your name: Bisola
Hi, Bisola you have 6 letters in your name

In [19]:
# write a program that calculates a person's bmi

height = float(input('Enter your height: '))
weight = float(input('Enter your weight: '))

bmi = round(weight/height, 2)

print(f'Your BMI is {bmi}')

Enter your height: 343
Enter your weight: 12
Your BMI is 0.03

In [17]:
#a = int(input())
b = float(input())

print(f'{a},{b}')

6.5
5,6.5

In [21]:
# write a PROGRAM  that solves quadratic equation

a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: '))

x1 = (-b - (b**2 - 4*a*c)**0.5)/(2 * a)
x2 = (-b + (b**2 - 4*a*c)**0.5)/(2 * a)

print(f'x = {x1} or x = {x2} ')

a: 1
b: -7
c: 12
x = 3.0 or x =4.0

In [23]:
# write a program that calculates the compound interest on a loan. Return only the amount
# payable after terms of the loan has run out. The rate is fixed at 4%



p = float(input('Enter the loan amount: '))
t = float(input('Enter the the number of years: '))

rate = 4

returns = p * (1 + rate/100) ** t

print(f'The amount payable on {p} after {t} is {returns}  at {rate}% rate')

Enter the loan amount: 1000
Enter the the number of years: 3
The amount payable on 1000.0 after 3.0 is 1124.864  at 4% rate

In [24]:
# program that accepts two words and print out the number of letters in the longest word


word_1 = input('first word: ')
word_2 = input('second word: ')

larger = max(len(word_1), len(word_2))

print(larger)

first word: boy
second word: potatoe
7

## CONDITIONALS

In [28]:
# write a program that accept two words and printing the larger word


word_1 = input('Enter first word: ')
word_2 = input('Enter second word: ')


if len(word_1) > len(word_2):
    print(f'{word_1} is longer')
elif len(word_1) == len(word_2):
    print('They are equal')
else:
    print(f'{word_2} is longer')

Enter first word: ade
Enter second word: boy
They are equal

In [29]:
# program that accepts a person's year of birth and tells whether they are
# an adult,teenager,child,old

name = input('Enter your name: ')
year = int(input('ENter your birth year: '))

age = 2023 - year

if age <= 12:
    print(f'Hi {name},you are a child')
elif age <= 19:
    print(f'Hi {name},you are a teenagers')
elif age <= 65:
    print(f'Hi {name},you are an adult')
else:
    print(f'Hi {name},you are old!!')

Enter your name: Wale
ENter your birth year: 2001
Hi Wale,you are a adult

In [36]:
# optimized quadratic solver


a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: '))

d = b**2 - 4*a*c

if a == 0:
    print('This is not a quadratic equation')
else:
    if d < 0:
        x1 = (-b - (d)**0.5)/(2 * a)
        x2 = (-b + (d)**0.5)/(2 * a)
        print(f'x = {x1} or x = {x2}')
    else:
        x1 = (-b - (d)**0.5)/(2 * a)
        x2 = (-b + (d)**0.5)/(2 * a)
        print(f'x = {round(x1,2)} or x = {round(x2,2)}')

a: 1
b: 5
c: 6
x = -3.0 or x = -2.0

In [38]:
# write a program returns whether a number is odd or even and also check
# whether they are a multiple 3.

num = int(input('Enter the num: '))

if num % 2 == 0:
    if num % 3 == 0:
        print(f'{num} is even and a multiple of 3')
    else:
        print(f'{num} is just even')
else:
    if num % 3 == 0:
        print(f'{num} is odd and a multiple of 3')
    else:
        print(f'{num} is just odd')

Enter the num: 11
11 is just odd

In [40]:
# the loan company from yesterday wants to introduce different coupons for their customers

#coupon 1 -- if the interest ever grow past the initial loan amount, 25% interest discount
# coupon 2 -- if the loan amount is above 300k 5% discount on the interest 
# coupon 3 -- if eligible for 1 and 2, give 40% discount  on the interst

# also let them know the coupon that they won
# also the amount payable

p = float(input('Enter the loan amount: '))
r = 5
n = int(input('Enter the year: '))

amount = p * (1+r/100)** n

interest = amount - p





if p >= 300000:
    if interest > p:
        amount = p + (interest * 0.6)
        print(f'You are eligible for 2 coupons of 40% discount!')
        print(f'Your amount payable is {amount}')
    else:
        amount = p + (interest * 0.95)
        print(f'You are eligible for 1 coupon of 5% discount!')
        print(f'Your amount payable is {amount}')
        
else:
    if interest > p:
        amount = p + (interest * 0.75)
        print(f'You are eligible for 1 coupon of 25% discount!')
        print(f'Your amount payable is {amount}')
        
    else:
        print(f'Your amount payable is {amount}')

Enter the loan amount: 300000
Enter the year: 100
You are eligible for 2 coupons of 40% discount!
Your amount payable is 23790226.41233472

In [5]:
# odd = weird, even and 2-5 = not weird, even and 6-20 weird, even and greater > 20 not weird


num = int(input())
if num % 2 ==  1:
    print('weird')
elif num % 2 == 0 and num >= 2 and num <= 5:
    print('not weird')
elif num % 2 == 0 and num >= 6 and num <= 20:
    print('weird')
elif num % 2 == 0 and num > 20:
    print('not weird1')

22
not weird1

In [31]:
#mutability

fruits = ['orange', 'mango', 'cashew']
fruits2 = ('orange','mango', 'cashew')

nigeria = {'Lagos':'Ikeja',
          'Oyo':'Ibadan',
          'Ekiti':'Ado Ekiti'}


print(type(fruits))
print(type(fruits2))
print(type(nigeria))

print(fruits)
print(fruits2)
print(nigeria['Lagos'])

fruits2 = list(fruits2)
print(type(fruits2))

<class 'list'>
<class 'tuple'>
<class 'dict'>
['orange', 'mango', 'cashew']
('orange', 'mango', 'cashew')
Ikeja
<class 'list'>

In [33]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums2 = list(range(2,11,2))

print(nums)
print(nums2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [28]:
fruits = ['orange', 'mango', 'cashew','banana','pineapple','pawpaw']

fruits[:-1]

['orange', 'mango', 'cashew', 'banana', 'pineapple']

In [ ]:
# return the list of eveen numbers between 4 and 26

#  return the list of multiples of 4 between 21 and 50

In [35]:
# .append

fruits.append('stone')
fruits

['orange', 'mango', 'cashew', 'stone', 'stone']

In [39]:
#functions
# sum
# min
# max
# len
# sorted


# methods
# .append
# .extend
# .remove
#.pop
# .sort

vegies = ['tomatoe', 'onion']

fruits.extend(vegies)

In [40]:
fruits

['orange', 'mango', 'cashew', 'stone', 'stone', 'tomatoe', 'onion']

In [41]:
# create a list of multiples of 4 between 11 and 50
# return the sum of elements in that list and the number of elements in the list

num = list(range(12,51,4))
print(f'Sum of elements is {sum(num)}')
print(f'Total number of element is {len(num)}')

Sum of elements is 300
Total number of element is 10

In [43]:
# return the maximum and minimum values in the first 
# 5 elements starting from the 3rd element in the list and average

num.remove(12)

In [44]:
num

[16, 20, 24, 28, 32, 36, 40, 44, 48]

In [45]:
a = [8,3,5]

a.sort()

In [50]:
a = ['dog','cat','apple']

In [51]:
sorted(a)

['apple', 'cat', 'dog']

In [52]:
a.pop(1)

'cat'

In [11]:
name = 'adewale'


name = 'Ade'
name2 = 'Wale'

name[-1]

'e'

In [19]:
# an authetication program that checks whether someone is s staff or not

staff = ['tolu','tiwa','folake','segun','ayo']

name = input('welcome enter your name: ')
if name.lower() in staff:
    print(f'Access granted, welcome {name}')
else:
    print('Access denied')

welcome enter your name: SEGUN
Access granted, welcome SEGUN

## LOOPS

In [20]:
for member in staff:
    print(f'Welcome to work {member}')

Welcome to work tolu
Welcome to work tiwa
Welcome to work folake
Welcome to work segun
Welcome to work ayo

In [25]:
# write a program that returns the multiples of a given factor within a range 


factor = int(input('Enter the factor: '))

lower_bound = int(input('Enter the lower number: '))

upper_bound = int(input('Enter the higher number: '))

lists = []

if lower_bound >= upper_bound:
    print('Your not smart')
else:
    for num in range(lower_bound, upper_bound+1):
        if num % factor == 0:
            lists.append(num)
        else:
            pass
            
print(f'The multiples of {factor} within {lower_bound} and {upper_bound} are: {lists}')

Enter the factor: 4
Enter the lower number: 51
Enter the higher number: 100
The multiples of 4 within 51 and 100 are: [52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [32]:
# write a program that checks whether a number is prime or not.

# give the proof that a number is not prime by returning the factors 
num = int(input())

lists = []
for i in range(2,num):
    if num % i == 0:
        lists.append(i)
    else:
        pass
if len(lists) == 0:
    print('prime')
else:
    print(f'Not prime because there are factors: {lists}')

11
prime

In [33]:
# write a program that generates the multiplication table of a given number

num = int(input())

for i in range(1,13):
    result = i * num
    print(f'{i} * {num} = {result}')

8
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
11 * 8 = 88
12 * 8 = 96

In [38]:
# returns the number of repeated letters in a string

name = 'accommodation'

lists = []
residual = []

for i in name:
    if i not in lists:
        lists.append(i)
    else:
        residual.append(i)

print(set(residual))

{'a', 'o', 'm', 'c'}

## WHILE LOOP

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
counter = 0

while True:
    if counter < 3: # break condition
        print(counter)
        counter += 1
    else:
        break

1
2
3
4
5

In [6]:
# write a program that accepts someone's name and year of birth and returns their age.

quit = 'stop'

while True:
    name = input('Enter your name or "stop" to quit: ')
    
    if name.lower() != quit:
        year = int(input('Enter your year of birth: '))
        age = 2023 - year
        print(f'Hi {name}, you are {age} years old')
    else:
        print('Thank you for using this program')
        break

Enter your name or "stop" to quit: Sade
Enter your year of birth: 2001
Hi Sade, you are 22 years old
Enter your name or "stop" to quit: ade
Enter your year of birth: 1999
Hi ade, you are 24 years old
Enter your name or "stop" to quit: stop
Thank you for using this program

In [12]:
# write a program that takes daily staff attendance, and returns those who came in
# and those who did not.

staff = ['sola','kay','habib','ola','ben','chidi']
register = []
absent = []

quit = 'close' # break condition

while True:
    member = input('Welcome to work,  fill the register: ')
    if member.lower() == quit:
        for name in staff:
            if name not in register:
                absent.append(name)
        
        print(f'Employees at work are: {register}')
        print(f'Employees that are absent are: {absent}')
        break
    else:
        if member.lower() in staff:
            register.append(member)
            print(f'Hi, {member} welcome to work')
        else:
            print(f'{member} you are not a member of staff')

Welcome to work,  fill the register: chidi
Hi, chidi welcome to work
Welcome to work,  fill the register: ola
Hi, ola welcome to work
Welcome to work,  fill the register: daniel
daniel you are not a member of staff
Welcome to work,  fill the register: kay
Hi, kay welcome to work
Welcome to work,  fill the register: close
Employees at work are: ['chidi', 'ola', 'kay']
Employees that are absent are: ['sola', 'habib', 'ben']

In [16]:
# program that returns the LCM of two numbers 

num1 = int(input('X: '))
num2 = int(input('Y: '))

if num1 > num2:
    larger = num1
else:
    larger = num2
    
while True:
    if larger % num1 == 0 and larger % num2 == 0:
        lcm = larger
        break
    else:
        larger += 1
    
print(f'LCM of {num1} and {num2} is {lcm}')

X: 513
Y: 145
LCM of 513 and 145 is 74385

In [ ]:
# quiz program that asks someone to guess the number of even numbers between their
# desired range and rewards them  for being correct.


# program that accepts a users name only if they are above 18 or has not registered before.

# guessing game program that allows user guess a number between 1 and 10 and rewards them
# for being correct. they can only play thrice.

In [17]:
import random

In [23]:
computer_mind = random.randint(1,5)

2

In [25]:
print('Welcome please enter your name')
name = input()

print(f'Hi, {name} please deposit an amount to play with')

fund = float(input())

attempt = 0
print("This is a guessing game where you predict what's on my mind and you win $5 for being correct")

while True:
    if attempt >= 3:
        print(f'{name} you left with ${fund}')
        break
    else:
        if fund <= 0:
            print(f'{name} you are out of fund')
            break
        else:
            guess = int(input('what number am i thinking of?: '))
            computer_mind = random.randint(1,5)
            if guess == computer_mind:
                fund += 5
                attempt += 1
                print(f'you are correct you won $5 you now have ${fund}')
            else:
                fund -= 5
                attempt += 1
                print(f'you are wrong you lost $5 you now have ${fund}')

Welcome please enter your name
wale
Hi, wale please deposit an amount to play with
10
This is a guessing game where you predict what's on my mind and you win $5 for being correct
what number am i thinking of?: 3
you are wrong you lost $5 you now have $5.0
what number am i thinking of?: 3
you are wrong you lost $5 you now have $0.0
wale you are out of fund

## DICTIONERIES

In [1]:
# create a food class dictionary 


food_class = {
    
    'Beans': 'protein',
    'yam' : 'carbohydrate',
    'orange': 'vitamin' 
}

food_class

{'Beans': 'protein', 'yam': 'carbohydrate', 'orange': 'vitamin'}

In [17]:
food_class['yam']

'carbohydrate'

In [2]:
print(type(food_class))

<class 'dict'>

In [3]:
food_class.keys()

dict_keys(['Beans', 'yam', 'orange'])

In [4]:
food_class.values()

dict_values(['protein', 'carbohydrate', 'vitamin'])

In [5]:
food_class.items()

dict_items([('Beans', 'protein'), ('yam', 'carbohydrate'), ('orange', 'vitamin')])

In [11]:
for i, j in food_class.items():
    print(f'{i,j}')

('Beans', 'protein')
('yam', 'carbohydrate')
('orange', 'vitamin')

In [12]:
food_class['Beans']

'protein'

In [16]:
print(type(food_class.keys()))

<class 'dict_keys'>

In [18]:
## create a state and population dictionary
## you are going to include a program that allows people 
## check the population of their states.

# states: osun,oyo,lagos,kwara,ogun

states = {
    
    'oyo': 10000,
    'osun': 2000,
    'lagos': 3000,
    'ogun' : 2000  
    
}


state_1 = input('Enter the first state: ')
state_2 = input('Enter the second state: ')


print(f'{state} has {states[state_1]} population')

oyo has 10000 population

In [19]:
states.update({'kaduna': 50000})

In [20]:
# write a sign up program. it will accept username and password
#

{'oyo': 10000, 'osun': 2000, 'lagos': 3000, 'kaduna': 50000}

In [49]:


def create_account():
    
    database = {}
    quit = 'stop'

    while True:
        name = input('Enter your name:')
        if name.lower() == 'stop':
            break
        else:
            if name in database.keys():
                print('Username already exist')
            else:
                password = input('Choose a password: ')
                database.update({name:password})
                print(f'Welcome {name}, account created!')

In [50]:
create_account()

Welcome wale, account created!

In [24]:
stop = 'quit'


while True:
    name = input('Enter your username: ')
    if name in database.keys():
        password = input('Enter your passowrd')
        if database[name] == password:
            print(f'Access granted welcome {name}')
        else:
            print('Incorrect password')
    else:
        print('Create an account')
        create_account()
        break

Incorrect password
Create an account

In [23]:
database.keys()

dict_keys(['segun', 'done'])

# FUNCTIONS

In [1]:
def greet(name):
    return f'Hello {name} how are you'

In [8]:
# write a function that returns the prime numbers within a range

def check_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    else:
        return True

In [15]:
def get_prime(a, b):
    primes = []
    for i in range(a, b+1):
        if check_prime(i) == True:
            primes.append(i)
    return primes

In [16]:
get_prime(15,20)

[17, 19]

In [20]:
# write a function that returns the average of numbers 

def average(*nums):
    nums = list(nums)
    avg = sum(nums)/len(nums)
    return avg

In [21]:
average(2,3,4,5,6,7,9,10)

5.75

In [28]:
# write a function that returns the average of all the numbers that are not prime within a range.



def avg_multiples(a,b):
    multiples = []
    for i in range(a,b):
        if check_prime(i) == False:
            multiples.append(i)
            
    avg = sum(multiples)/len(multiples)
    
    return avg

In [29]:
avg_multiples(3,10)

6.75

In [34]:
## build a palindrome checker function


def palindrome(word):
    
    if word == word[::-1]:
        return True
    else:
        return False

In [36]:
palindrome('Johnson')

False

In [ ]:
def get_age(year, name):
    age = 2023 - year
    return f'Hi {name}, you are {age} years old'

In [41]:
# a function that calculates an employees wage. it will take 3 parameters hours, hourly rate, tax


def get_wage(hours, rate, tax = 0.05):
    """_calculates the wage of an employee_

    Args:
        hours (float): _The number of hours the employee worked_
        rate (float): _description_
        tax (float, optional): _description_. Defaults to 0.05.
    """
    wage = hours * rate * (1-tax)
    
    return wage

In [42]:
get_wage(10,10,0.15)

85.0

In [47]:
# function that returns the net salary of an employee after tax and thrift is deducted.
# note, the minimum thrift is 20% of salary and tax is 3% for all staff. Also only the female workers participates
# in the thrift

# gross, tax, thrift, gender


def net_salary(gross, tax = 0.03, thrift = 0.2, female = True):
    """_summary_

    Args:
        gross (_type_): _description_
        tax (float, optional): _description_. Defaults to 0.03.
        thrift (float, optional): _description_. Defaults to 0.2.
        female (bool, optional): _description_. Defaults to True.
    """
    salary = gross * (1-tax)
    
    if female:
        return salary * (1-thrift)
    else:
        return salary

In [48]:
net_salary(gross = 50000, tax= 0.15,thrift= 0.1, female= True)

38250.0

In [10]:
# create a simple restaurant app with menu and promo feature 




def order():
    quit = 'done' # break condition
    bill = 0 # counter for billing
    order_list = {}  # empty dictionary for tracking orders
    menu = {
        
        'rice':200,
        'beans':100,
        'spag': 100,
        'fish': 50
        
    }
    while True:
        food = input('what do you want?: ')
        if food.lower() == quit:
            break
        else:
            if food in menu.keys():
                print(f'how many {food} do you want?: ')
                quantity = int(input())
                order_list.update({food:quantity})
                bill += quantity * menu[food]
                
    return order_list, bill

In [16]:
def promo(bill):
    gender = input('enter your gender')
    if bill < 1000:
        pass
    else:
        if gender == 'female':
            bill -= bill * 0.1
        elif gender == 'male':
            bill -= bill * 0.15
    return bill

In [17]:
menu = {
        
        'rice':200,
        'beans':100,
        'spag': 100,
        'fish': 50
        
    }
print(f'welcome to the hive, would you like to order?')
decision = input()

if decision == 'no':
    pass
elif decision == 'yes':
    your_bill = order()
    your_order, total_order = your_bill
    total_order = promo(bill= total_order)
    for food, quantity in your_order.items():
        print(f'{quantity} X {food} = N{quantity * menu[food]}')
    print(f'your total bill is N{total_order}')
    
else:
    print('i dont understand')

welcome to the hive, would you like to order?
how many rice do you want?:
how many fish do you want?:
3 X rice = N600
3 X fish = N150
your total bill is N750

In [22]:
# keyword arguments

def nigeria(**states):
    
    return states

In [23]:
nigeria(oyo = 'ibadan',osun = 'osogbo', lagos = 'ikeja')

{'oyo': 'ibadan', 'osun': 'osogbo', 'lagos': 'ikeja'}

## LAMBDA FUNCTIONS

In [1]:
# function that adds two numbers

def add(x,y):
    total = x + y
    return total

print(add(3,2))

5

In [2]:
add2 = lambda x,y: x+y


print(add2(5,4))

9

In [4]:
double = lambda x, y = 3: x * 2 + y

print(double(4))

11

In [5]:
# map, reduce and filter


# return the square of every element in a list


nums = [1,2,3,4,5]

square_nums = list(map(lambda x:x**2, nums))
square_nums

[1, 4, 9, 16, 25]

In [8]:
# return the even numbers within a range
# filter

a = [1,2,3,4,5,6,7,8]

even_no = list(filter(lambda x: x%2 ==0, a))
even_no

[2, 4, 6, 8]

In [11]:
# reduce 

numbers = [1,2,3,4,5]

print(reduce(lambda x,y: x * y, numbers))

120

In [10]:
from functools import reduce

In [ ]:
# write a function that returns the square root of a number 
# write a function that returns the multiples of 4 between 41 and 100
# write a function that returns the result of successively subtracting the elements in a list.

## List comprehension

In [12]:
multi_4 = [x for x in range(41,100) if x%4 == 0]

multi_4

[44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [13]:
square_multi = [x**2 for x in multi_4]
square_multi

[1936,
 2304,
 2704,
 3136,
 3600,
 4096,
 4624,
 5184,
 5776,
 6400,
 7056,
 7744,
 8464,
 9216]

In [16]:
# return the prime numbers within a range


def check_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    else:
        return True
    
    

primes = ['prime' if check_prime(x) == True else 'not prime' for x in
          range(20,40)]                    #[x for x in range(20, 70) if check_prime(x) == True]

primes

['not prime',
 'not prime',
 'not prime',
 'prime',
 'not prime',
 'not prime',
 'not prime',
 'not prime',
 'not prime',
 'prime',
 'not prime',
 'prime',
 'not prime',
 'not prime',
 'not prime',
 'not prime',
 'not prime',
 'prime',
 'not prime',
 'not prime']

In [17]:
some_list = [1,2,3,4,5,6,7,8,9,10,11,12]


new = ['q1' if x <= 12 * 0.25 else 'q2' if x <= 12*0.5 else 
       'q3' if x <= 12 * 0.75 else 'q4' for x in some_list]

new

['q1', 'q1', 'q1', 'q2', 'q2', 'q2', 'q3', 'q3', 'q3', 'q4', 'q4', 'q4']

## Exception Handling

In [25]:
def divide():
    attempt = 0
    while True:
        a = int(input())
        b = int(input())
        if attempt <= 2:
            try:
                ratio = a/b
            except ZeroDivisionError:
                print('cannot divide by zero')
            attempt += 1
        else:
            break
    return ratio


divide()

cannot divide by zero

0.5