### Introduction

We are going to be covering the following topics today.

1. jupyter noteboks
2. variables and datatypes
3. Basic python operations
4. BuiltIn functions and methods
5. conditionals

Learning outcome.
* basic understanding of python data types
* handling conditions andd writing basic programs

In [3]:
name = 'sodiq'

print(name)

sodiq

In [6]:
# string formatting

name = 'Tola'
age = 25

print(f'{name} is {age} years old')

Tola is 25 years old

#### Data Types

* strings -- 'cat','ibadan','pencil'
* int -- 1,2,45,67,990000
* float -- 23.4, 1.00, 34.6
* bool -- True or False
* binary -- 0,1
* list -- [1,2,3,5]
* tuple -- (1,2,3,4)
* dictioneries -- {osun: osogbo, lagos:ikeja}

In [15]:
# write a program that calculates the area of a rectangle

length = float(input('Enter the length: '))
breadth = float(input('Enter the breadth: '))

area = length * breadth
print(f'The area of the rectangle is {area} cm2')

The area of the rectangle is 93.6 cm2

In [16]:
# write a program that accepts someone's name and retuns their age based on their year of birth

name = input('Enter your name: ')
year = int(input('Enter your year of birth: '))

age = 2024 - year

print(f'Hi {name}, in {year} you will be {age} years old')

Hi Segun, in 2000 you will be 24 years old

In [26]:
days = int(input('Enter the number of days: '))

weeks = days // 7

day = days % 7

print(f'There are {weeks} week and {day} day in {days} days')

There are 3 week and 2 day in 23 days

In [23]:
# floor division

5 // 2

# remainder or modulus

5 % 2

# power

2 ** 3

# root 

8 **(1/3)

# square root

36 ** (1/2)

6.0

In [ ]:
# write a program that takes any naira amount and converts it to dollars
# rate = 1500

In [59]:
# Lists 

fruits = ['orange','apple','mango','cashew','lemon']
foods = ['rice', 'beans']

# indexing

fruits[-4]

# slicing

fruits[2:]

things = [1,2,True, fruits, 'ade', [2,4,6]]
type(things[3][1])

# return a list of even numbers between 2 and 10

nums = list(range(7,50,7))

# list methods.

# .append
fruits.append('guava')

# extend
foods.extend(fruits)

# remove

foods.remove('orange')

# .pop

foods.pop(2)


# .index 
foods.index('beans')

1

In [63]:
# list functions

# len 

len(fruits)

# max
max(nums)

# min
min(nums)

# sum
sum(nums)

# sorted

age = [2,1,5,3,4,6]

print(sorted(age))

[1, 2, 3, 4, 5, 6]

In [69]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]
     ]

In [71]:
a[1][2]

6

In [77]:
# tuples 

name = ('ade','wale','tola','femi')
age = (8,3,4,15,6)

In [78]:
sorted(age)

[3, 4, 6, 8, 15]

In [80]:
# dictioneries 

nigeria = {
    'lagos':'ikeja',
    'osun' : 'osogbo',
    'oyo':'ibadan',
    'ogun':'abeokuta'   
}

In [82]:
# returns the keys
nigeria.keys()

dict_keys(['lagos', 'osun', 'oyo', 'ogun'])

In [83]:
# returns values

nigeria.values()

dict_values(['ikeja', 'osogbo', 'ibadan', 'abeokuta'])

In [84]:
# returns a list of key value pair tuples 
nigeria.items()

dict_items([('lagos', 'ikeja'), ('osun', 'osogbo'), ('oyo', 'ibadan'), ('ogun', 'abeokuta')])

In [86]:
nigeria['osun']

'osogbo'

In [87]:
nigeria.update({'Kwara':'ilorin'})

In [94]:
data = {
    'student_1':['ade','male',25,False],
    'student_2':['wale','male',23,False],
    'student_3':['habibat','female',25,True],
    'student_4':['grace','female',25,True]   
}

# getting the name of student 1 

data['student_1'][0]

'ade'

### CONDITIONALS

In [103]:
# write a program that takes the name of two people, their date of birth and returns 
# the older person

person_1 = input('Enter your name: ')
year_1 = int(input('Enter your year: '))

person_2 = input('Enter your name: ')
year_2 = int(input('Enter your year: '))

if year_1 < year_2 and 'c' in person_1:
    print(f'{person_1} is older by {year_2-year_1} years')
    print(f'{person_1} is not a Yoruba name')
elif year_2 < year_1 and 'c' in person_1:
    print(f'{person_2} is older by {year_1-year_2} years')
    print(f'{person_1} is not a Yoruba name')
else:
    print('They same age')
    
    
# The only condition for which this program understands yoruba names
# is by absence of letter c

They same age

In [108]:
# schorlarship eigibility program

states = ['osun','oyo','lagoss','ogun','ekiti','ondo']

name = input('Enter your name: ')
state = input('Enter your state of origin: ')
scores = int(input('Enter your exam score'))

if state in states and scores > 80:
    print(f'Hi {name} congratulations, you are eliible for schorlarship')
elif state in states and scores <= 80:
     print(f'Hi {name} low score, you not are eliible for schorlarship')
elif state not in states and scores <= 80:
     print(f'Hi {name} you not are eliible for schorlarship on any level')
else:
     print(f'Hi {name} sadly, you are brillint but you are not in our states')

Hi Maleek congratulations, you are eliible for schorlarship

In [109]:
# schorlarship eigibility program

states = ['osun','oyo','lagoss','ogun','ekiti','ondo']

name = input('Enter your name: ')
state = input('Enter your state of origin: ')
scores = int(input('Enter your exam score'))


if state in states:
    if scores < 80:
        print(f'HI {name} you have a LOW score sadly')
    else:
        print(f'Hi {name} congratulations, you are eliible for schorlarship')
else:
    if scores < 80:
        print(f'Hi {name} you not are eliible for schorlarship on any level')
    else:
       print(f'Hi {name} sadly, you are brillint but you are not in our states')

Hi tola congratulations, you are eliible for schorlarship

In [112]:
# write a program that awards 20% discount to customers from Nigeria, Ghana, Togo
# when they buy something above 25000.

countries = ['nigeria','ghana','togo']

name = input('Enter your name: ')
country = input('Enter your country: ')
amount = int(input('Enter your amount'))


if country in countries:
    if amount < 25000:
        print(f'Hi {name} low amount, there is no discount, your fee is: {amount}')
    else:
        print(f'Hi {name} you have {amount*0.2} discount, and your fee is: {amount*0.8}')
else:
    if amount < 25000:
        print(f'Hi {name} totally not eligible, your fee is: {amount}')
    else:
        print(f'Hi {name} high amount, but not in our countries there is no discount, your fee is: {amount}')

Hi baseey you have 6000.0 discount, and your fee is: 24000.0

## ASSIGMENTS

* program that checks whether or not someone is a student of appclick data science. students of data science includes Sade, Funmi, Teni and Wale
* simple program that checks if a second hand car is worth buying or not. All Corrola,camry,avensis  are worth buying. Any other car brand must hav e less than 50k mileage to be worth it.

## FOR LOOPS

In [ ]:
 gist.github. com