In [1]:
2+2

4

### Findings

I have just discovered the following:

* That 2+2 is 4 
* That 2+2 is 4 every time

### Variables and Datatypes

#### DataTypes in Python

datatypes | examples
:---------|---------:
int    | 2,3,4,5,6
float | 2.4, 4.5
strings | 'taye', 'wole', 'femi', 'dog'
boolean | True or False
list | [1,2,3,4], ['ade', 'segun']
tuple | ('ade', 'segun')
dictionaries | {'lagos:ikeja,'kwara':'ilorin'}
sets | (1,2,3,4)

In [6]:
#understanding variables

age = 25
name = 'Segun'

# get segun's age in 3 years time
age_2027 = age + 3

In [7]:
age_2027

28

In [19]:
# write a programme that calculates someones age just by acceptin their birth year

year_of_birth = int(input('Enter your year of birth: '))
name = input('Enter your name: ')
age = 2024 - year_of_birth
print(f'Hi {name}, you are {age} years old')

Hi bola, you are 21 years old
Hibola, you are 21 years old

In [20]:
# write a program that returns the interest due on a loan and the amount payable

name = input('Welcome, enter your name: ')
principal = float(input('Enter the amount you want to borrow: '))
time = int(input('For how long: '))
rate = 5

interest = (principal * rate * time)/100

print(f'Hi {name}, the interest on N{principal} for {time} years is N{interest} at {rate}% per annum')
print('===========================================')
print(f'Total  Amount Payables is {principal + interest} naira')

Hi Daniel, the interest on 50000.0 for 3 years is 7500.0 at 5% per annum
===========================================
Total  Amount Payables is 57500.0 naira

### Exercise

* write a program that calculates a person's tax and tithe by knowing their salary
tax is 4%, tithe is 10%
* The program should return the amount they have paid in tax and tithe and what is left as their take home.

In [1]:
# assignment solution

salary = int(input('Enter your salary'))
tax = salary * 0.04
tithe = (salary - tax) * 0.1
print(f'You paid ${tax} tax, ${tithe} tithe and you have ${salary - tithe - tax} left')

You paid $1600.0 tax, $3840.0 tithe and you have $34560.0 left

### LESSON 2

#### CONDITIONALS AND ITERABLES

In [3]:
# write a program that checks if someone is a child, adult, teenager or old

name = input('Enter your name: ')
year_of_birth = int(input(f'Hi {name}, enter your year of birth: '))
age = 2024 - year_of_birth

if age < 12:
    print(f'{name}, you are a child')
elif age < 20:
    print(f'{name}, you are a teenager')
elif age < 59:
    print(f'{name}, you are an adult')
else:
    print(f'{name}, you are a old')

Benson, you are an adult

In [6]:
# mulitiple condition

# write a program that outputs a student's admission eligibility. They can get into UI
# only if they score above 60 in english and mathematics. However they can get into Bowen
# with above  60  in at least one course

name = input('Enter your name: ')
english = int(input('Engliish: '))
maths = int(input('Maths: '))

if english > 60 and maths > 60:
    print(f'Congrats {name}! you have gotten into UI')
elif english > 60 or maths > 60:
      print(f'HI {name} welcome to Bowen')
else:
    print(f'{name}!!! nawa!!')

femi!!! nawa!!

In [13]:
#### NESTED IFs

# program that gives someone 3% discount on their loan if they are female, 4% discount
# if they are borrowing above 300k, 10% discount if they satisfy both condition.

name = input('Enter your name: ')
gender = input('Gender: ')
principal = float(input('principal: '))
time = float(input('time: '))
interest_rate = 4 

interest = (principal * interest_rate * time)/100

if principal > 300000:
    if gender == 'female':
        print(f"{name} you've gotten 10% amount payable is ${principal + (interest * 0.90)}")
    else:
        print(f"{name} you've gotten 4% amount payable is ${principal + (interest * 0.96)}")
else:
    if gender == 'female':
        print(f"{name} you've gotten 3% amount payable is ${principal + (interest * 0.97)}")
    else:
        print(f"{name},no discount amount payable is ${principal + interest}")

ugo,no discount amount payable is $10800.0

### ITERABLES (LISTS TUPLES AND DICTIONARIS)

In [10]:
# creating a list

students = ['femi','ugo','daniel','tosin','feyi']
even_num = list(range(2,21, 2))
odd_num = list(range(1,21,2))

# check data type
type(students)

# forward indexing
students[1]

# backward indexing 
students[-4]

# slicing 
students[:3]

# slicing 
students[2:]
# slicing
students[1:3]

# slicing multidimensional list
staff = [['ugo',250,'male'],
         ['feyi',200,'male'],
         ['tola',100,'female']]

# access ugo's information
staff[0]

# access feyi's name 
staff[1][0]

# list method and function
# counting elements in a list
print(len(students))

# adding a new element to the list
students.append('bola')

# min, max, sum functions

print('sum', sum(even_num))
print('minimumn', min(even_num))
print('maximum', max(even_num))
print('average', sum(even_num)/len(even_num))


# assignment : pop, index, sorted, revered

5
sum 110
minimumn 2
maximum 20
average 11.0

In [4]:
students

['femi', 'ugo', 'daniel', 'tosin', 'feyi', 'bola']

In [26]:
# dictioneries 

nigeria = {
    'lagos': 'ikeja',
    'osun': 'osogbo',
    'oyo' : 'ibadan'
}

# dictionary methods

# getting keys
nigeria.keys()

# getting values
nigeria.values()

nigeria['oyo'] 

# adding new element
nigeria.update({'kwara':'ilorin'})

# exercise
# create a dictionary of student names and age
# return all the names of students in your class
# return the minimum, maximum and average age of students in your class

students = {
    'wale': 13,
    'remi': 32,
    'tola': 21
}

students.keys()

age = list(students.values())

print(f'Minimum = {min((age))}')
print(f'Maximum = {max((age))}')
print(f'Average = {sum((age))/len((age))}')

Minimum = 13
Maximum = 32
Average = 22.0

In [ ]:
list(nigeria.keys())

['lagos', 'osun', 'oyo', 'kwara']

#### LOOPS

In [28]:
for num in range(1, 10):
    print('God is good')

God is good
God is good
God is good
God is good
God is good
God is good
God is good
God is good
God is good

In [29]:
# create a list of numbers between 50 and 100 that are divisible by 3

threes = []

for num in range(50, 101):
    if num % 3 == 0:
        threes.append(num)
    else:
        pass
    
threes

[51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# program that checks prime numbers

number = int(input('number: '))
for num in range(2, number):
    if number % num == 0:
        print(f'{number} is Not prime')
        break
else:
    print(f'{number} is prime')

In [49]:
students = {'femi':'abcd',
            'ugo':'1234',
            'rola':'xyz',
            'feyi':'4433',
            'tomi':'563'}

In [51]:
# a user validation program

name = input('Enter your name: ')

if name not in students.keys():
    print('Acess denied')
    decision = input('do you want to register: ')
    if decision == 'yes':
        password = input('Choose a password: ')
        students.update({name:password})
    else:
        pass
else:
    password = input('Enter password: ')
    if students[name] == password:
        print(f'welcome {name}, have you heard from {students[1]} todaY')
    else:
        print('wrong password')

wrong password

In [52]:
students

{'femi': 'abcd',
 'ugo': '1234',
 'rola': 'xyz',
 'feyi': '4433',
 'tomi': '563',
 'bola': '2123'}

In [1]:
import pandas as pd
import numpy as np

In [2]:
# how to create dataframes in pandas

# list of lists

student_data = [
    ['rola','female',12,'christian'],
    ['daniel','male',23,'muslim'],
    ['tomi','female',18,'christian'],
    ['ugo','male',25,'muslim']
]

student_df = pd.DataFrame(data = student_data, columns= ['name','gender','age','religion'])

student_df

     name  gender  age   religion
0    rola  female   12  christian
1  daniel    male   23     muslim
2    tomi  female   18  christian
3     ugo    male   25     muslim

In [3]:
# dictionaries

student_dict = {
    'name': ['jide', 'sola','bola','segun','tobi','fola'],
    'gender': ['male', 'female','male','female','male','female'],
    'age': [23,14,22,35,85,12]
}

student_df2 = pd.DataFrame(student_dict)

student_df2

    name  gender  age
0   jide    male   23
1   sola  female   14
2   bola    male   22
3  segun  female   35
4   tobi    male   85
5   fola  female   12

In [4]:
# loading data from a local file

data = pd.read_csv('Breast_Cancer.csv')

data

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [ ]:
!pip install mysql-connector-python

In [28]:
import mysql.connector
from mysql.connector import Error 
from IPython.display import clear_output


def db_connect(user_name, host_name, db_name, password):
    connection = None
    try:
        connection = mysql.connector.connect(
            user = user_name,
            host = host_name,
            database = db_name,
            passwd = password
        )
        print(f'connected to {db_name} successfully')
    except Error as err:
        print(f"Error: {err}")
    
    return connection

pw = input('password: ')
clear_output()

connection = db_connect(user_name='root',host_name='localhost',
                        db_name='northwind',password=pw)

 
def read_query(connection, query):
    result = None
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
    except Error as err:
        print(f"Error: {err}")
    
    return result


query_1 = '''

select orderid, freight, shipcountry
from orders
limit 50;
'''

data = read_query(connection=connection, query= query_1)
data

# converting to dataframe
data_list = []

for row in data:
    row = list(row)
    data_list.append(row)

columns = ['orderid','freight','shipcountry']

order_df = pd.DataFrame(data=data_list, columns=columns)

order_df

connected to northwind successfully

    orderid   freight  shipcountry
0     10248   32.3800       France
1     10249   11.6100      Germany
2     10250   65.8300       Brazil
3     10251   41.3400       France
4     10252   51.3000      Belgium
5     10253   58.1700       Brazil
6     10254   22.9800  Switzerland
7     10255  148.3300  Switzerland
8     10256   13.9700       Brazil
9     10257   81.9100    Venezuela
10    10258  140.5100      Austria
11    10259    3.2500       Mexico
12    10260   55.0900      Germany
13    10261    3.0500       Brazil
14    10262   48.2900          USA
15    10263  146.0600      Austria
16    10264    3.6700       Sweden
17    10265   55.2800       France
18    10266   25.7300      Finland
19    10267  208.5800      Germany
20    10268   66.2900    Venezuela
21    10269    4.5600          USA
22    10270  136.5400      Finland
23    10271    4.5400          USA
24    10272   98.0300          USA
25    10273   76.0700      Germany
26    10274    6.0100       France
27    10275   26.9300        Italy
28    10276   13.8400       Mexico
29    10277  125.7700      Germany
30    10278   92.6900       Sweden
31    10279   25.8300      Germany
32    10280    8.9800       Sweden
33    10281    2.9400        Spain
34    10282   12.6900        Spain
35    10283   84.8100    Venezuela
36    10284   76.5600      Germany
37    10285   76.8300      Germany
38    10286  229.2400      Germany
39    10287   12.7600       Brazil
40    10288    7.4500        Italy
41    10289   22.7700           UK
42    10290   79.7000       Brazil
43    10291    6.4000       Brazil
44    10292    1.3500       Brazil
45    10293   21.1800       Mexico
46    10294  147.2600          USA
47    10295    1.1500       France
48    10296    0.1200    Venezuela
49    10297    5.7400       France

In [26]:
print(data)

None

In [12]:
def count_vowels(name):
    count = []
    vowel = ['a','e','i','o','u']
    for letter in name:
        if letter in vowel and letter not in count:
            count.append(letter)
        else:
            pass
    return len(count)

In [13]:
count_vowels('tomisin')

2

In [14]:
count_vowels('ugochukwu')

2

In [21]:
def get_dollar(naira, rate):
    try:
        dollar = naira / rate
    except ZeroDivisionError:
        return f'You no wise' 
    
    return dollar

In [22]:
get_dollar(50000, 1500)

33.333333333333336

In [23]:
get_dollar(150000, 0)

'You no wise'